* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: #dcecf8;
    color: #1d3557;
}

.screen {
    display: none;
    min-height: 100vh;
    padding: 20px;
}

.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    font-size: 2.4rem;
    margin: 30px 0 10px 0;
}

h2 {
    margin: 20px 0;
}

.subtitle {
    margin-bottom: 30px;
    font-size: 1.1rem;
}

button,
a {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 12px auto;
    padding: 18px;

    border: none;
    border-radius: 18px;

    background: #1d3557;
    color: white;

    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
}

.camera-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
    aspect-ratio: 3 / 2;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

.button-group {
    width: 100%;
    max-width: 500px;
    margin-top: 15px;
}

#captureBtn {
    background: white;
    color: #1d3557;
    border: 3px solid #1d3557;
}

#switchCameraBtn {
    background: #1d3557;
    color: white;
}

#resultImage {
    width: 100%;
    max-width: 500px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.share {
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}

strong {
    display: block;
    margin-top: 6px;
}

strong {
    display: block;
    margin-top: 6px;
}


.button-group {
    width: 100%;
    max-width: 500px;
    margin-top: 15px;
    display: block;
    position: relative;
    z-index: 999;
}

#captureBtn,
#switchCameraBtn {
    display: block;
    width: 100%;
    position: relative;
    z-index: 999;
}
.hashtags {
    margin: 15px 0;
    font-weight: 600;
    color: #1d3557;
    text-align: center;
}
